html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

.cover {
    width: 960px;
    margin: 0 auto;
    padding: 10px;
    background: rgb(236, 177, 118);
	box-shadow: 0 0 20px rgba(235, 137, 8, 0.644);
    text-align: center;
}

.ListA,
.ListB {
    text-align: justify;
    color: darkblue;
}

a {
    font-weight: bold;
}
